/* start glopal rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
*::selection {
  background-color: var(--maincolor);
}
:root {
  --maincolor: #10cab7;
  --secon-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
body {
  font-family: "work sans", sans-serif;
}

.perant {
  background-color: #aaa;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* mopile  */
@media (max-width: 767px) {
  .services .special-heading {
    font-size: 80px;
  }
  .services .special-heading + p {
    margin-top: -20px;
  }
  .portfolio .special-heading {
    font-size: 80px;
  }
  .portfolio .special-heading + p {
    margin-top: -20px;
  }
  .services .container .imge {
    text-align: center;
  }
  /* .services .container .service-content{
    background-color: #777; 

  }*/
  .services .service-content .srv {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .text {
    /* flex-basis: 100px; */
    margin-top: 50px;
  }
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1200px;
  }
}
/* start componant  */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -5px;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  margin-top: -30px;
  margin-left: 0;
  margin-right: 0;
  font-size: 17px;
  color: #777;
}
/* end componant */
/* end glopal rules  */
/* start header  */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.header .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .icon span:first-child {
  width: 100%;
  height: 2px;
}
.header .icon span:last-child {
  width: 100%;
  height: 2px;
}
.header .icon span:nth-child(2) {
  width: 50%;
  height: 2px;
  transition: 0.2s;
  -webkit-transition: 0.2s;

  -moz-transition: 0.2s;

  -ms-transition: 0.2s;

  -o-transition: 0.2s;
}
.header .links:hover span:nth-child(2) {
  width: 100%;
}
.header .links ul {
  padding: 0;
  margin: 0;
  background-color: #eee;
  list-style: none;
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  min-width: 200px;
  display: none;
  z-index: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .links:hover ul {
  display: block;
}
.header .container .links ul::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 5px;
  border: 10px solid;
  border-color: transparent transparent #eee transparent;
  height: 20px;
}
.header .links ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 15px;
  text-transform: capitalize;
  transition: 0.2s;
}
.header .links ul li:not(:last-child) a {
  border-bottom: #ddd solid 2px;
}
.header .links ul li a:hover {
  padding-left: 25px;
}

/* end header  */
/* start landing section  */
.landing {
  background-image: url(/images/imge.png);
  background-size: cover;
  height: calc(100vh - 66px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 375px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  color: var(--maincolor);
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  color: #333;
}
sec {
  color: white;
}
/* end landing section  */
/* strat feasture  */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.feature .feat {
  text-align: center;
  padding: 20px;

  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}
.feature .feat:hover {
  box-shadow: 1px 1px 15px #ddd, -1px -1px 25px #ddd;
}
.feature .feat:not(:first-child) {
  border-left: #ddd solid 2px;
}
.feature .feat i {
  color: var(--maincolor);
  padding: 20px;
}
.feature .feat h3 {
  font-weight: 800;
  margin-bottom: 20px;
  word-spacing: 5px;
}
.feature .feat p {
  font-size: 17px;
  opacity: 0.5;
  word-spacing: 5px;
  line-height: 25px;
}
/*end feasture  */
/* strat services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services img {
  width: 300px;
  height: 100%;
  padding: 0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.services .service-content .imge {
  position: relative;
  text-align: center;
}
.services .service-content .imge::after {
  content: "";
  position: absolute;
  height: 400px;
  width: 40%;
  background-color: var(--secon-color);
  right: 0;
  top: -10%;
  z-index: -1;
}
.services .srv {
  padding: 10px;
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.services .srv:hover {
  box-shadow: 1px 1px 15px #ddd, -1px -1px 25px #ddd;
}
.services .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 100px;
}
.services .service-content .srv .text {
  flex: 1;
}
.services .service-content .col .srv i {
  color: var(--maincolor);
  flex-basis: 60px;
  /* padding-right:10px ; */
}
.services .service-content .srv .text h3 {
  font-weight: 800;
  margin: 0 0 20px;
  word-spacing: 5px;
}
.services .service-content .srv .text p {
  font-size: 17px;
  opacity: 0.5;
  word-spacing: 5px;
  line-height: 1.6;
  font-weight: 300;
}
@media (max-width: 1199px) {
  .imge {
    display: none;
  }
}
/* end services */
/* start portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
  background-color: white;
}
.portfolio .portfolio-content img {
  max-width: 100%;
}
.portfolio .portfolio-content .card {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .portfolio-content .card:hover {
  box-shadow: 1px 1px 15px #ddd, -1px -1px 25px #ddd;
}
.portfolio .portfolio-content .info {
  padding: 20px;
}
.portfolio .portfolio-content .info h3 {
  font-weight: 800;
  font-size: 30px;
}
.portfolio .portfolio-content .info p {
  font-weight: 300;
  opacity: 0.5;
  margin-top: 20px;
  line-height: 1.6;
}
/* end portfolio*/
/* start service   */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .text {
    margin-top: 60px;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .imege {
  width: 300px;
  height: 400px;
  position: relative;
}
.about .about-content .imege:before {
  content: "";
  position: absolute;
  height: calc(100% + 80px);
  width: 100px;
  background-color: #ebeced;
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .imege:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  border-left: 70px solid var(--maincolor);
  border-bottom: 70px solid var(--maincolor);
  top: -40px;
  right: -59px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .imege:after,
  .about .about-content .imege:before {
    display: none;
  }
  .about .about-content .imege {
    margin: 0 auto;
  }
}
.about .about-content .imege img {
  max-width: 100%;
}
.about .about-content .text p:first-of-type {
  line-height: 2;
  color: #333;
  font-weight: bold;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  border-color: var(--maincolor);
  display: inline-block;
  width: 50%;
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  opacity: 0.5;
  margin-top: 20px;
}
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}

.contact .info .lable {
  font-size: 40px;
  font-weight: 800;
  color: var(--secon-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  text-decoration: none;
  color: var(--maincolor);
  font-size: 30px;
  display: block;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
}
.contact .info .social i{
  margin-left: 10px;
  color:var(--secon-color);
}
@media (max-width: 767px){
  .about .special-heading{
    font-size: 80px;
  }
  .contact .special-heading+p{
    margin-top: -20px;
  }
.contact .special-heading{
  font-size: 80px;
}
.contact .special-heading+p{
  margin-top: -20px;
}
}
/* end contact */
/* start footer  */
.footer{
  background-color: var(--secon-color);
  color:white;
  padding:30px 10px;
  font-size:18px;
  text-align: center;
}
.footer span{
  font-weight: bold;
  color: var(--maincolor);
}
/* end footer  */
                                                              /* الحمد لله */